@page
@model HomeElectric.Pages.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link href="~/css/login.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <input type="checkbox" id="check">
        <div class="login form">
            <header>Login</header>
            <form method="post">
                <input type="text" placeholder="Enter your email" asp-for="Email" required>
                <input type="password" placeholder="Enter your password" asp-for="Password" required>
                @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                {
                    <div class="alert alert-danger" role="alert" style="color: red">
                        @Model.ErrorMessage
                    </div>
                }

                <input type="submit" class="button" value="Login" asp-page-handler="Login">
            </form>
            <div class="signup">
                <span class="signup">
                    Don't have an account?
                    <a href="/Register">Signup</a>
                </span>
            </div>
            <div class="home" style="text-align: center;">
                <a href="/">Back to Home</a>
            </div>
        </div>
    </div>
</body>
</html>
