@page
@model HomeElectric.Pages.Admin.UserManager.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "/Pages/Shared/AdminLayout.cshtml";
}

<h1>Create</h1>


<div class="container" style="margin-top: 80px;">
        <h4>User Create</h4>
        <hr />
        <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User.FullName" class="control-label"></label>
                <input asp-for="User.FullName" class="form-control" />
                <span asp-validation-for="User.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.PhoneNumber" class="control-label"></label>
                <input asp-for="User.PhoneNumber" class="form-control" />
                <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Password" class="control-label"></label>
                <input asp-for="User.Password" class="form-control" />
                <span asp-validation-for="User.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Address" class="control-label"></label>
                <input asp-for="User.Address" class="form-control" />
                <span asp-validation-for="User.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Description" class="control-label"></label>
                <input asp-for="User.Description" class="form-control" />
                <span asp-validation-for="User.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Status" class="control-label"></label>
                <input asp-for="User.Status" class="form-control" />
                <span asp-validation-for="User.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.RoleId" class="control-label"></label>
                <select asp-for="RoleId" class="form-control" asp-items="@(ViewBag.RoleId as SelectList)"></select>
            </div>
            <div class="form-group">
                <label asp-for="User.CreationDate" class="control-label"></label>
                <input asp-for="User.CreationDate" class="form-control" />
                <span asp-validation-for="User.CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.ModificationDate" class="control-label"></label>
                <input asp-for="User.ModificationDate" class="form-control" />
                <span asp-validation-for="User.ModificationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.DeletionDate" class="control-label"></label>
                <input asp-for="User.DeletionDate" class="form-control" />
                <span asp-validation-for="User.DeletionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="container" style="margin-top: 10px;">
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
