@page
@model HomeElectric.Pages.Staff.CatetoryManager.EditModel

@{
    Layout = "StaffLayout";
    ViewData["Title"] = "Edit";
}
<link href="~/css/staff1.css" rel="stylesheet" />

<div style="margin-top: 150px;">
    <hr />
    <div class="row">
        <div class="col-md-4">
                <h1>Edit</h1>
    <h4>Category</h4>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Category.Id" />
                <div class="form-group">
                    <label asp-for="Category.CategoryName" class="control-label"></label>
                    <input asp-for="Category.CategoryName" class="form-control" />
                    <span asp-validation-for="Category.CategoryName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Category.Description" class="control-label"></label>
                    <input asp-for="Category.Description" class="form-control" />
                    <span asp-validation-for="Category.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Category.Status" class="control-label"></label>
                    <select asp-for="Category.Status" class="form-control">
                        <option value="0" class="inActive-status">InActive</option>
                        <option value="1" class="active-status">Active</option>
                    </select>
                    <span asp-validation-for="Category.Status" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Category.CreationDate" class="control-label"></label>
                    <input asp-for="Category.CreationDate" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="Category.ModificationDate" class="control-label"></label>
                    <input asp-for="Category.ModificationDate" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="Category.DeletionDate" class="control-label"></label>
                    <input asp-for="Category.DeletionDate" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label class="control-label">Is Deleted:</label><br />
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" asp-for="IsDeletedChecked" value="true" />
                        <label class="form-check-label" for="IsDeletedChecked">True</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" asp-for="IsDeletedChecked" value="false" />
                        <label class="form-check-label" for="IsDeletedChecked">False</label>
                    </div>
                    <span asp-validation-for="Category.IsDeleted" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="./Index">Back to List</a>
    </div>
</div>